<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    
    <ui:composition template="template.xhtml">
        
        <ui:define name="conteudo">
  
        </ui:define>
        
    </ui:composition>
   
    
    
</html>
