<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
	<title>Java Web</title>
</h:head>

<h:body>

	<p:ajaxStatus onstart="PF('statusDialog').show();"
		onsuccess="PF('statusDialog').hide();" />

	<p:dialog modal="true" draggable="false" closable="false"
		resizable="false" header="Carregando" widgetVar="statusDialog">

		<p:graphicImage value="/conteudo/imagem/alabloadingbar.gif" />
	</p:dialog>

	<p:graphicImage value="/conteudo/imagem/logoo.png" width="50"/>

	<h:form>

		<p:menubar>


			<p:submenu label="Parâmetros">
				<p:menuitem value="Genero" url="/parametros/genero.jsf" />
				<p:menuitem value="Tipo" url="/parametros/tipo.jsf" />
				<p:menuitem value="Usuário" url="/parametros/usuario.jsf" />
			</p:submenu>
			
			<p:submenu label="Cadastro">
				 <p:menuitem value="Cliente" url="/cadastros/cliente.jsf" />
				 <p:menuitem value="Livro" url="/cadastros/livro.jsf" />
			</p:submenu>
			
			<p:submenu label="Venda">
				 <p:menuitem value="Registrar" url="/venda/registrar.jsf" />
				 <p:menuitem value="Consultar" url="/venda/consulta.jsf" />
				 <p:menuitem value="Gráfico por livro" url="/venda/graficoPizza.jsf" />
				 <p:menuitem value="Gráfico recebimentos" url="/venda/graficoLinha.jsf" />
			</p:submenu>
			
			<p:submenu label="Login">
				<p:menuitem value="Cadastrar" url="/parametros/usuario.jsf"/>
				<p:menuitem value="Login" url="/parametros/logar.jsf"/>
			</p:submenu>
		</p:menubar>

	</h:form>
	
	<br/>
	
	<ui:insert name="conteudo" />


</h:body>

</html>
