<html xmlns="http://www.w3.org/1999/xhtml"
      	xmlns:h="http://java.sun.com/jsf/html"
		xmlns:p="http://primefaces.org/ui"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:f="http://java.sun.com/jsf/core">
    
    <ui:composition template="../template.xhtml">

	<ui:define name="conteudo">
		<p:panel header="Livro">
			<h:form id="formulario">
				<p:growl showDetail="false" sticky="true"/>


				<h:inputHidden value="#{livroController.livro.idLivro}" />


				<h:panelGrid columns="2">
				
					<h:outputLabel value="Autor"/>
					<p:inputText value="#{livroController.livro.autor}"/>
					
					<h:outputLabel value="Valor:"/>
					<p:inputText value="#{livroController.livro.valor}"/>

					<h:outputLabel value="Genero:" />
					<p:selectOneMenu value="#{livroController.livro.genero}" converter="#{entityConverter}">
						<f:selectItem itemLabel="Selecione um genero" itemValue="" />
						<f:selectItems value="#{generoController.listar()}" var="g"
							itemLabel="#{g.descricao}" itemValue="#{g}" />
					</p:selectOneMenu>


					<h:outputLabel value="Tipos de Midia:" />
					<p:selectManyCheckbox
						value="#{livroController.livro.tipos}"  converter="#{entityConverter}">
						<f:selectItems value="#{tipoController.listar()}" var="o"
							itemLabel="#{o.descricao}" itemValue="#{o}" />
					</p:selectManyCheckbox>

				</h:panelGrid>

				<p:commandButton value="Salvar"
					actionListener="#{livroController.salvar()}"
					update="@form" icon="ui-icon-check" />
					
				<br/><br/>
					
				 <p:dataTable 
	                value="#{livroController.listar()}"
	                var="v"
		            emptyMessage="Nenhum livro cadastrado"
		            paginator="true"
		            rows="20"
		            id="tabela">
	
	                <p:column headerText="Codigo" style="width:10%">
	                    #{v.idLivro}
	                </p:column>
	
	                <p:column headerText="Autor" style="width:10%">
	                    #{v.autor}
	                </p:column>
	                
	                <p:column headerText="Valor" style="width:10%">
	                    <h:outputText value="#{v.valor}">
                             <f:convertNumber type="currency" maxFractionDigits="2"/>
                        </h:outputText>
	                </p:column>
	                
	                 <p:column headerText="Genero" style="width:20%">
	                    #{v.genero.descricao}
	                </p:column>
	                
	                 <p:column headerText="Tipos" style="width:20%">
	                     <ui:repeat var="o" value="#{v.tipos}">
	                     	#{o.descricao} <br/>
	                     </ui:repeat>
	                </p:column>
	                
	                <p:column headerText="Editar" style="width:10%">
	                 	<p:commandButton
							actionListener="#{livroController.editar(v)}"
							update="@form" process="@this" icon="ui-icon-pencil" />
	                </p:column>
	                
	                <p:column headerText="Excluir" style="width:10%">
	                    <p:commandButton
							actionListener="#{livroController.excluir(v)}"
							update="@form" process="@this" icon="ui-icon-close" />
	                </p:column>
	
	            </p:dataTable>	
					
			</h:form>
		</p:panel>





	</ui:define>

</ui:composition>
   
    
    
</html>
