<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:f="http://java.sun.com/jsf/core"
	  template="/template.xhtml">
	  
	  
	  <ui:define name="conteudo">
	  

			<center>
	  		
	  			<h3>Usuario Conectado</h3>
	  			
	  			<h:outputLabel value="#{usuarioController.usuario.usuario}"/>
	  			
	  			
	  			
	  		</center>


	  </ui:define>
	  

</ui:composition>