<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:f="http://java.sun.com/jsf/core"
	  template="/template.xhtml">
	  
	  
	  <ui:define name="conteudo">
	  

			<center>
	  		
	  			<h:form>
	  				<p:panel id="panel" header="Login">
	  				
	  				<h:panelGrid columns="2" cellpadding="5">
	  				
	  				<p:outputLabel for="Email" value="Email"/>
	  				<p:inputText id="Email" value="#{usuarioController.usuario.email}" required="true" label="Email">
	  				</p:inputText>
	  				
	  				
	  				<p:outputLabel for="Senha" value="Senha"/>
	  				<p:password id="Senha" value="#{usuarioController.usuario.senha}" required="true" label="Senha">
	  				</p:password>
	  				
	  				<p:growl></p:growl>
	  				
	  				</h:panelGrid>
	  				
	  				<p:commandButton value="Entrar"  update="panel" style="float:center;"
	  					action="#{usuarioController.consultar()}"/>
	  				</p:panel>		
	  				
	  			</h:form>
	  			
	  			</center>


	  </ui:define>
	  

</ui:composition>