<html xmlns="http://www.w3.org/1999/xhtml"
      	xmlns:h="http://java.sun.com/jsf/html"
		xmlns:p="http://primefaces.org/ui"
		xmlns:ui="http://java.sun.com/jsf/facelets">
    
    <ui:composition template="../template.xhtml">

	<ui:define name="conteudo">
		<p:panel header="Usuario">
			<h:form id="formulario">
				<p:growl showDetail="false" sticky="true"/>


				<h:inputHidden value="#{usuarioController.usuario.idUsuario}" />


				<h:panelGrid columns="2">
					
					<h:outputLabel value="Usuario:"/>
	  				<p:inputText value="#{usuarioController.usuario.usuario}" />
	  						
					
					<h:outputLabel value="E-mail"/>
					<p:inputText value="#{usuarioController.usuario.email}"/>
					
					<h:outputLabel value="Senha"/>
					<p:password feedback="true"  value="#{usuarioController.usuario.senha}"/>
				
				</h:panelGrid>

					<p:commandButton value="Salvar"
					actionListener="#{usuarioController.salvar()}"
					update="@form" icon="ui-icon-check" />
					
			</h:form>
		</p:panel>





	</ui:define>

</ui:composition>
   
    
    
</html>
