<html xmlns="http://www.w3.org/1999/xhtml"
      	xmlns:h="http://java.sun.com/jsf/html"
		xmlns:p="http://primefaces.org/ui"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:f="http://java.sun.com/jsf/core">
    
    <ui:composition template="../template.xhtml">

	<ui:define name="conteudo">
		<p:panel header="Consulta">
			<h:form id="formulario" target="_blank">

				<h:panelGrid columns="2"> 
					<h:outputLabel value="Data de Venda:" />
					<p:calendar pattern="dd/MM/yyyy" value="#{vendaController.venda.dataVenda}" >
						 <f:validateBean disabled="true"/>
					</p:calendar>



					<h:outputLabel value="Cliente:" />
					<p:selectOneMenu value="#{vendaController.venda.cliente}" converter="#{entityConverter}">
						<f:selectItem itemLabel="Selecione um Cliente" itemValue="" />
						<f:selectItems value="#{clienteController.listar()}" var="c"
							itemLabel="#{c.nome}" itemValue="#{c}" />
							
						<f:validateBean disabled="true"/>
					</p:selectOneMenu>
				
				</h:panelGrid>
			

				<p:commandButton value="Procurar"
					actionListener="#{vendaController.listar()}"
					update="@form:tabela" icon="ui-icon-search"/>
					
				<p:commandButton value="PDF" 
					actionListener="#{vendaController.relatorio()}"
					ajax="false" icon="ui-icon-print"/>
					
				<br/>	
					
				<p:outputPanel id="tabela">

					<p:dataTable value="#{vendaController.vendas}" var="l"
						emptyMessage="Nenhuma locação com esses parâmetros" paginator="true" rows="20">

						<p:column headerText="Codigo" style="width:10%">
		                    #{l.idVenda}
		                </p:column>

						<p:column headerText="Cliente" style="width:20%">
	                    	#{l.cliente.nome}
	                	</p:column>

		                <p:column headerText="Valor" style="width:10%">
		                    <h:outputText value="#{l.valorTotal}">
	                             <f:convertNumber type="currency" maxFractionDigits="2"/>
	                        </h:outputText>
		                </p:column>
		                
		                
		                <p:column headerText="Data" style="width:10%">
		                    <h:outputText value="#{l.dataVenda}">
	                             <f:convertDateTime pattern="dd/MM/yyyy"/>
	                        </h:outputText>
		                </p:column>
		                
		                <p:column headerText="Ficha" style="width:10%">
		                 	<p:commandButton ajax="false" 
								actionListener="#{vendaController.ficha(l.idVenda)}"
								process="@this" icon="ui-icon-print" />
	               		</p:column>

					</p:dataTable>

				</p:outputPanel>
					
			</h:form>
			
			
			
			
		</p:panel>





	</ui:define>

</ui:composition>
   
    
    
</html>
