<html xmlns="http://www.w3.org/1999/xhtml"
      	xmlns:h="http://java.sun.com/jsf/html"
		xmlns:p="http://primefaces.org/ui"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:f="http://java.sun.com/jsf/core">
    
    <ui:composition template="../template.xhtml">

	<ui:define name="conteudo">
		<p:panel header="Vendas por livro">
			
			
			<p:chart type="pie" model="#{vendaController.graficoPorLivro()}" />
			
			
		</p:panel>





	</ui:define>

</ui:composition>
   
    
    
</html>
