<html xmlns="http://www.w3.org/1999/xhtml"
      	xmlns:h="http://java.sun.com/jsf/html"
		xmlns:p="http://primefaces.org/ui"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:f="http://java.sun.com/jsf/core">
    
    <ui:composition template="../template.xhtml">

	<ui:define name="conteudo">

		<h:form id="formulario">

			<p:panel header="Venda">
				<p:growl id="mensagem" showDetail="false" sticky="true" />


				<h:inputHidden value="#{vendaController.venda.idVenda}" />


				<h:panelGrid columns="2">

					<h:outputLabel value="Data de Venda:" />
					<p:calendar pattern="dd/MM/yyyy"
						value="#{vendaController.venda.dataVenda}" />



					<h:outputLabel value="Cliente:" />
					<p:selectOneMenu value="#{vendaController.venda.cliente}" converter="#{entityConverter}">
						<f:selectItem itemLabel="Selecione um Cliente" itemValue="" />
						<f:selectItems value="#{clienteController.listar()}" var="c"
							itemLabel="#{c.nome}" itemValue="#{c}" />
					</p:selectOneMenu>


				</h:panelGrid>

				

			</p:panel>
			
			<br/><br/>
			
			<p:panel header="Selecionar">
			
				<h:panelGrid columns="2">


					<h:outputLabel value="Livro:" />
					<p:selectOneMenu value="#{vendaController.vendaLivro.livro}"
						converter="#{entityConverter}">
						<f:selectItem itemLabel="Selecione um Livro" itemValue="" />
						<f:selectItems value="#{livroController.listar()}" var="v"
							itemLabel="#{v.autor} - #{v.genero.descricao}" itemValue="#{v}" />
					</p:selectOneMenu>
					
					
					<h:outputLabel value="Valor:" />
					<p:inputText value="#{vendaController.vendaLivro.valor}" />
					
					<h:outputLabel value="Qtde:" />
					<p:inputText value="#{vendaController.vendaLivro.quantidade}" />
					
					<p:commandButton 
						actionListener="#{vendaController.adicionar()}" update="@form:livroAdicionados, @form:mensagem"
						icon="ui-icon-plus" />

				</h:panelGrid>
			
			</p:panel>
			
				
			<p:panel header="Livros Adicionados" id="livroAdicionados">
				
				<p:dataTable value="#{vendaController.venda.vendaLivros}" var="l"
					emptyMessage="Nenhum livro adicionado" paginator="true" rows="20">

					<p:column headerText="Genero" style="width:20%">
	                    #{l.livro.genero.descricao}
	                </p:column>

					<p:column headerText="Autor" style="width:10%">
	                    #{l.livro.autor}
	                </p:column>
	                
	               	<p:column headerText="Qtde" style="width:10%">
	                    #{l.quantidade}
	                </p:column>
	                
	               <p:column headerText="Valor" style="width:10%">
	                    #{l.valor}
	                </p:column>
	                
	                <p:column headerText="Total" style="width:10%">
	                    #{l.quantidade * l.valor}
	                </p:column>

				</p:dataTable>
			</p:panel>
			
			<br/><br/>
			<p:commandButton value="Salvar"
					actionListener="#{vendaController.salvar()}" update="@form"
					icon="ui-icon-check" />

		</h:form>



	</ui:define>

</ui:composition>
   
    
    
</html>
